$inputFontSize: 800px / 8;
$inputFontSize___mobile: 100vw / 8;

@mixin inputFontSize{
    font-size: $inputFontSize;
    @media screen and (max-width: 800px){
        font-size: $inputFontSize___mobile;
    }
}

@mixin letterSlotWidth{
        width: -webkit-calc(14% - 9px);
        width: -moz-calc(14% - 9px);
        width: calc(14% - 9px);
}

#letterInterface{
    @media screen and (max-width: 800px){
        width: 100%;
    }
    width: 800px;
    overflow: auto;
    margin: 0 auto;
    #letterSlotContainer{
        display: flex;
        justify-content: center;
        clear: right;
        transform: translate(0, -35px);
        .letterSlot-control:hover{
            cursor: pointer;
        }
        .triangele-container___hor{
            @include letterSlotWidth();
            height: -webkit-calc(14% - 9px);
            height: -moz-calc(14% - 9px);
            height: calc(14% - 9px);
            #triangle-right {   
                width: 30%;
                margin: 135% 20% 0 50%;
                padding: calc(31%) 0;
                background-color: #272F35;
                -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
                clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
            }
            #triangle-left {
                width: 30%;
                margin: 135% 50% 0 20%;
                padding: calc(31%) 0;
                background: #272F35;
                -webkit-clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
                clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
                opacity: 0;
                &.letterControls--revealed{
                    transition: opacity .4s;
                    opacity: 1;
                }
                &.letterControls--hidden{
                    transition: opacity .4s;
                    opacity: 0;
                }
            }
        }
        .userLetterSlot {
            @include letterSlotWidth();
            #triangle-down {
                width: 62%;
                margin: 60% auto 20%;
                padding: calc(15%) 0;
                background: #272F35;
                -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0%);
                clip-path: polygon(0 0, 50% 100%, 100% 0%);
                opacity: 0;
                &.letterControls--revealed{
                    transition: opacity .4s;
                    opacity: 1;
                }
                &.letterControls--hidden{
                    transition: opacity .4s;
                    opacity: 0;
                }
            }
            #triangle-up {
                width: 62%;
                margin: 20% auto;
                padding: calc(15%) 0;
                background: #272F35;
                -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            }
            &:last-of-type{
                .userLetter{
                    margin-right: 0;
                }
            }
            .userLetter{
                margin: 1.5px 1.5px 0px 0px;
                &:nth-child(2){
                    margin-top: 0;
                }
                &.userLetter--used{
                    input{
                        transition: background-color .4s;
                        background-color: #66c7c1;
                    }
                }&.userLetter--unused{
                    input{
                        transition: background-color .4s;
                        background-color: #C98B5D;
                    }
                }
                input{
                    @include inputFontSize();
                    background-color: #C98B5D;
                    border: none;
                    text-transform: uppercase;
                    text-align: center;
                    max-width: 100%;
                    width: 100%;
                    padding: 0;
                    height: 100%;
                }
            }
        }
    }
}

.btn-container__resolveWords{
    float: right;
    margin-right: 2%;
    @media screen and (max-width: 800px){
        margin-right: 11.5%;
    }
    #btn__resolveWords{
        @media screen and (max-width: 800px){
            font-size: 5vw;
        }
        color: #000;
        border: none;
        background: #fff;
        font-size: 3em;
        padding: .2em .45em;
    }
}
