<form #userWordForm="ngForm">
  <div *ngIf="wordListSeed">
    <pre>{{wordListSeed | json}}</pre>
    <div *ngFor="let letterPlace of wordListSeed; index as i">
      <div *ngFor="let letter of letterPlace; index as j">
        <input name="slot {{i + 1}}, letter {{j + 1}}"
        [(ngModel)]="wordListSeed[i][j]"
        maxlength="1">
        <div>
          <i class="fa fa-plus" aria-hidden="true" (click)="addLetter.emit(letterPlace)"></i>
          <span>add letter</span>
        </div>
      </div>
      <label>letters in letter position {{i + 1}}</label>
      <div>
          <i class="fa fa-plus" aria-hidden="true" (click)="addSlot.emit()"></i>
          <span>add letter slot</span>
      </div>
    </div>
    <button [disabled]="!userWordForm.valid" (click)="resolveWords.emit()">Get Possible Words</button>
  </div>
</form>
