.resultWordsContainer{
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    .resultWord{
        @media screen and (max-width: 700px){
            margin-bottom: .5%;
        }
        padding: 5px 10px;
        display: inline-block;
        margin: 5px 15px;
        h1{
            margin: 0;
            display: inline-block;
            .resultWord__letter{
                @media screen and (max-width: 800px){
                    padding: 0 1.25vw;
                }
                transition: background-color .4s;
                background-color: #C98B5D;
                display: inline-block;
                margin: 0 1px;
                padding: 0 11.5px;
                &.resultWord__letter--used{
                    transition: background-color .4s;
                    background-color: #66c7c1;
                }
                span{
                    @media screen and (max-width: 800px){
                        font-size: 6vw;
                    }
                    font-size: 2em;
                    color: #fff;
                    text-transform: uppercase;
                }
            }
        }
        .toggle__word{
            display: inline-block;
            .fa{
                @media screen and (max-width: 800px){
                    font-size: 4vw;    
                }
                font-size: 2em;
                transform: translate(0, 4px);
                margin-left: 5px;
            }
            &.toggle__word--unused{
                .fa-check{
                    display: none;
                }
            }
            &.toggle__word--used{
                .fa-times{
                    display: none;
                }
            }
        }
    }
}
