<header>
    <div id="info-toggle">
        <app-info [showInfo]="showInfo"></app-info>
        <i class="fa fa-info"
            aria-hidden="true"
            (click)=" !showInfo ? showInfo = true : showInfo = false"></i>
    </div>
    <div id="logoContainer">
        <img src="../assets/images/alt-typeshift-logo.png" alt="Cheat at Typeshift" id="logo">
    </div>
</header>
<app-letters  [wordListSeed]="wordListSeed"
              [strickenLetters]="strickenLetters"
              (setWordLength)="setWordLength()"
              (addLetter)="addLetter($event)"
              (addSlot)="addSlot()"
              (removeLetter)="removeLetter($event)"
              (removeSlot)="removeSlot()"
              (resolveWords)="resolveWords()">
</app-letters>
<app-results  [words]="resultWords"
              [strickenWords]="strickenWords"
              [strickenLetters]="strickenLetters"
              (alterUserWords)="alterUserWords($event)">
</app-results>