@keyframes closeInfobar1{
    from {transform: rotate(0deg) translate(0, 0); width: 1.5em;}
    to {transform: rotate(47.5deg) translate(4.8px, 0); width: 1.2em;}
}

@keyframes closeInfobar2{
    from {transform: rotate(0deg) translate(0, 0); width: 1em;}
    to {transform: rotate(-47.5deg) translate(4.8px, 0); width: 1.2em;}
}

@keyframes openInfobar1{
    from {transform: rotate(47.5deg) translate(4.8px, 0); width: 1.2em;}
    to {transform: rotate(0deg) translate(0, 0); width: 1.5em;}  
}

@keyframes openInfobar2{
    from {transform: rotate(-47.5deg) translate(4.8px, 0); width: 1.2em;}
    to {transform: rotate(0deg) translate(0, 0); width: 1em;}
}

#info-parent{
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    #info-toggle{
        display: flex;
        justify-content: flex-end;
        .hover_container{
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            z-index: 10;
            padding: 0 3%;
            &:hover{
                .two-line-ham_container{
                    div{
                        transition: background .4s;
                        background: #66c7c1;
                    }
                }
                .fa-info{
                    &::before{
                        transition: color .4s;
                        color: #66c7c1;
                    }
                }
            }
        }
        .two-line-ham_container{
            display: flex;
            margin-right: .5em;
            width: 97%;
            align-items: flex-end;
            flex-direction: column;
            &.menuClose{
                .two-line-ham_1{
                    animation-name: closeInfobar1;
                }
                .two-line-ham_2{
                    animation-name: closeInfobar2; 
                }
            }
            &.menuOpen{
                .two-line-ham_1{
                    animation-name: openInfobar1;
                }
                .two-line-ham_2{
                    animation-name: openInfobar2; 
                }
            }
            div{
                width: 1em;
                height: .2em;
                transition: background .4s;
                background: #fff;
                position: relative; 
                animation-duration: .5s;
                animation-fill-mode: forwards; 
                &.two-line-ham_1{
                    margin-top: .7em;
                    margin-bottom: .5em;
                    width: 1.5em;
                }
            }
        }
        .fa-info{
            font-size: 3em;
            &::before{
                transition: color .4s;
                color: #fff;
            }
        }
    }
}