@font-face{
    font-family: 'RoadGeek2005-engschrift';
    src: url('./assets/fonts/roadgeek-2005-engschrift.ttf') format('truetype');
}

*{
    color: #fff;
    font-family: 'RoadGeek2005-engschrift';
}

body{
    background: #1A2025;
    font-size: 62.5%;
    margin: 0;
}

#logoContainer {
    margin: 50px 0 10px;
}

#logo{
    display: block;
    width: 80%;
    max-width: 550px;
    margin: auto;
}
